* {
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'varsity';
    src: url(../font/varsity_regular.ttf);
    font-weight: bold;
    font-size: 100;
}

body{
    background-image: radial-gradient(at 60.55324212840358% 23.29323264050074%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 35.17627345165817% 46.58321303437813%, hsla(61.481481481481474, 93.10344827586206%, 17.058823529411764%, 1) 0%, hsla(61.481481481481474, 93.10344827586206%, 17.058823529411764%, 0) 100%), radial-gradient(at 19.172211242269356% 65.80964675011501%, hsla(185.2173913043478, 100%, 18.03921568627451%, 1) 0%, hsla(185.2173913043478, 100%, 18.03921568627451%, 0) 100%), radial-gradient(at 12.198501736214972% 71.3693963957765%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 30.513946531577485% 88.38103994972386%, hsla(61.481481481481474, 93.10344827586206%, 17.058823529411764%, 1) 0%, hsla(61.481481481481474, 93.10344827586206%, 17.058823529411764%, 0) 100%), radial-gradient(at 81.78379088668093% 80.30436878529056%, hsla(185.2173913043478, 100%, 18.03921568627451%, 1) 0%, hsla(185.2173913043478, 100%, 18.03921568627451%, 0) 100%), radial-gradient(at 36.37446423062571% 12.014655584644052%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 88.65064917264236% 3.69997195924352%, hsla(61.481481481481474, 93.10344827586206%, 17.058823529411764%, 1) 0%, hsla(61.481481481481474, 93.10344827586206%, 17.058823529411764%, 0) 100%), radial-gradient(at 5.21315474623687% 82.8457426718858%, hsla(185.2173913043478, 100%, 18.03921568627451%, 1) 0%, hsla(185.2173913043478, 100%, 18.03921568627451%, 0) 100%), radial-gradient(at 43.343468402037956% 51.419281599341616%, hsla(0, 0%, 0%, 1) 0%, hsla(0, 0%, 0%, 0) 100%), radial-gradient(at 98.78076834505008% 49.5440640628503%, hsla(61.481481481481474, 93.10344827586206%, 17.058823529411764%, 1) 0%, hsla(61.481481481481474, 93.10344827586206%, 17.058823529411764%, 0) 100%);
}
/******** pie de pagina *********/
footer {
    background-color: #444;
    height: 3rem;
    color: white;
    text-align: center;
    display: flex;
}

footer p {
    margin: auto;
}

/******** header *********/

header {
    background-color: #fdd701;
    padding: 10px 0px;
    text-align: center;
    min-height: 5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

header img {
    height: 5rem;
    position: absolute;
    left: 1rem;
}

header h1{
    margin: 0;
    font-family: 'varsity';
    font-size: 4rem;
}

/******** barra de navegacion *********/
nav {
    background-color: #0000008c;
    height: 3rem;
    display: flex;
    justify-content: center;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10;
    
}

nav a {
    color: white;
    text-align: center;
    padding: 14px;
    text-decoration: none;
}

nav a:hover {
    color: black;
    background-color:#fdd701;
}

h3{
    font-family: 'varsity';
    font-size: 3rem;
}

@media (max-width: 820px) {
    header {
        display: flex;
        flex-direction: column; 
    }

    header h1 {
        font-size: 3rem;  
        order: 2;  
    }

    header img {
        position: relative;
        order: 1;  
    }
}